* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 2rem;
  text-align: center;
}
html,
body {
  height: 100vh;
}

.product-card {
  border: 1px transparent;
  background-color: beige;
  border-radius: 12px;
  /* padding: 10px 20px; */
  width: 100%;
}
.product-card > * {
  color: #213547;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

#home-link {
  position: absolute;
  top: 10px;
  left: 50px;
}

.product-card-text {
  padding: 10px;
}

.product-card > img {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  gap: 4em;
  width: 100%;
  text-align: center;
}
.product-details-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5em; */
}

.product-details {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  /* padding: 5em; */
  flex-wrap: wrap;
  align-items: center;
  gap: 5em;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}
.product-details-img > img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 7px;
}
.product-title {
  font-size: 29px;
  font-weight: 600;
  /* padding: 10px 0; */
}
.product-price {
  font-weight: 700;
  padding: 10px 0;
}

.cart-button {
  background-color: #fff700;
  font-weight: 700;
}

.counter-wrapper {
  background-color: lightgray;
  width: 100%;
  max-width: 30px;
  padding: 8px;
  border-radius: 7px;
  margin-bottom: 110px;
}
.counter-btn {
  cursor: pointer;
  padding: 1px;
}
.counter-wrapper button {
  background-color: inherit;
  padding: 5px 20px;
}
.counter-wrapper > * {
  display: inline;
}

.counter-wrapper button:active {
  border: none;
}

.counter-wrapper input {
  width: 100%;
  max-width: 50px;
  text-align: center;
  border: transparent;
  background-color: inherit;
}

.counter-wrapper span {
  padding-inline: 10px;
}

@media (max-width: 56em) {
  .product-details-container {
    padding: 1em;
    height: auto;
  }

  h1 {
    font-size: 2em;
  }

  .product-card {
    width: 100%;
    max-width: 200px;
  }
}
